// ****************************************
// BASE
// ****************************************

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;

  &.overflowHidden {
    overflow: hidden;
  }
  margin: 0 !important;
}
small {
  display: block;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}
article {
  // @include padding-top(2);
}
*:focus {
  // background-color: $light_grey;
	  outline: none;
}
a {
  // color: $secondary;
  text-decoration: none;
  transition: all .2s linear;
  
  &:focus {
    outline: color $secondary 5px;
  }

}

p {
  @include margin-bottom(1);
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(0);
  }
  @include media(s2) {
    @include type-setting(0);
  }
  @include media(s3) {
    @include type-setting(1);
  }
  @include media(s4) {
    @include type-setting(2);
  }
}

strong {
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

img {
  // @include margin-bottom(1);
}

h1 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(2);
  }
  @include media(s2) {
    @include type-setting(3);
  }
  @include media(s3) {
    @include type-setting(3);
  }
  @include media(s4) {
    @include type-setting(6);
  }
}

h2 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(1);
  }
  @include media(s3) {
    @include type-setting(2);
  }
  @include media(s4) {
    @include type-setting(3);
  }
  @include media(s5) {
    @include type-setting(4);
  }
  color: $quaternary; // revisar colocacion
}

h3 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    font-weight: bold;
    @include type-setting(1);
  }
  @include media(s2) {
    @include type-setting(1);
    // background-color: red;
  }
  @include media(s3) {
    @include type-setting(2);
  }
  @include media(s4) {
    @include type-setting(3);
  }
}

h5,
h6 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    font-weight: bold;
    @include type-setting(0);
  }
  @include media(s2) {
    @include type-setting(0);
  }
  @include media(s3) {
    @include type-setting(1);
  }
  @include media(s4) {
    @include type-setting(2);
  }
}


small,
h6, h5 {
  text-align: left;
  @include padding-bottom(1);

  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(0);
  }
}

pre, code {
  font-family: monospace, monospace;
  @include type-setting(0);
  text-align: left;
}
pre {
  overflow: auto;
  background-color: $light_grey;
  @include margin-bottom(1);
  em {
    color: green;
  }
  strong {
    color: $secondary;
  }
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

.title {
  @include margin-top(1);
  // @include margin-bottom(1);

  @include media(s2) {
    @include margin-top(2);
    @include margin-bottom(1);
    text-align: center;
    // background-color: red;
  }
  @include media(s3) {
    @include margin-top(4);
    @include margin-bottom(2);
    text-align: center;
  }
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


// header hgroup h2 {
//   color:red;
// }
// ****************************************
// LAYOUT | MARGINS... SPACES
// ****************************************


// .golden-box {
//   height: 100px;
//   width: 100px * $phi;
//   // background-color: red;
// }


// ****************************************
// EXTRAS - DEBUGING
// ****************************************

// body * {
//   border: 1px solid grey;
// }
