.Grid {
  @include media(s1) {
    display: grid;
    gap: $h2 $h0;
  }
}

.GridItem {
  padding-left: $h0;
  padding-right: $h0;

  @include media(s1) {
    padding-left: $h2;
    padding-right: $h2;
  }

  @include media(s2) {
    padding-left: $h3;
    padding-right: $h3;
  }

  @include media(s3) {
    padding-left: $h4;
    padding-right: $h4;
  }

  @include media(s4) {
    padding-left: $h5;
    padding-right: $h5;
  }
}

.GridItemFluid {
  grid-column: -1/1;
  padding: $h2;
}

.GridHome {
  text-align: center;
  @include media(s1) {
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }
  @include media(s2) {
    .GridItem:nth-child(1) {
      grid-column: -1/1;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
    }
  }

  .full-row {
    grid-column: -1/1;
    text-align: center;
    display: grid;
    align-items: center;
  }

  .cualidades_btn {
    grid-column: -1 / 1;
  }

  .PageContent {
    @include media(s1) {
      grid-column: -1 / 1;
      display: grid;
      gap: $h2;
      justify-items: center;
    }

    article {
      max-width: $h9;
      margin: 0;
      padding: 0 $h2;

      @include media(s3) {
        max-width: $h10;
      }
    }
  }

  .half-column {
    grid-column: 2 / span 2;
  }

  figure {
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

}

// Paneles en Home
.GridSteps {
  // grid-column: 2;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
  align-items: center;
  
  @include media(s2) {
    .GridItem:nth-child(1) {
      // background-color: red;
      grid-column: -1/1;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
    }
  }

  &Nav {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin-bottom: 0;
    }
  }
}