.Main {
    display: grid;
    grid-template-columns: repeat(12, minmax($h3, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: $h0;
    padding: $h1;
    grid-template-areas:
        "b b . . . . . . . n n n"
        ". h h h h h h h h h s s"
        ". c c c c c c c c c s s"
        ". c c c c c c c c c s s"
        ". c c c c c c c c c . ."
        ". c c c c c c c c c . ."
        ". f f f f f f f f f t t"
    ;
    border: 2px solid green;
    position: relative;

    &:before {
        color: green;
        content: ".Main";
        position: absolute;
        top: $h-2;
        left: $h-2;
        font-size: $h0;
        font-weight: bold;
    }

    >div {
        padding: $h2;
        position: relative;
        border: 1px solid green;

        &:before {
            color: green;
        }
    }

    div {
        position: relative;
        min-height: $h3;

        &:before {
            position: absolute;
            font-size: $h0;
            top: $h-2;
            left: $h-2;
        }
    }

    &__brand {
        grid-area: b;

        &:before {
            content: ".Main__brand";
        }
    }

    &__header {
        grid-area: h;

        &:before {
            content: ".Main__header";
        }
    }

    &__content {
        grid-area: c;

        &:before {
            content: ".Main__content";
        }
    }

    &__nav {
        grid-area: n;

        &:before {
            content: ".Main__nav";
        }
    }

    &__footer {
        grid-area: f;

        &:before {
            content: ".Main__footer";
        }
    }

    &__sidebar {
        grid-area: s;

        &:before {
            content: ".Main__sidebar";
        }
    }

    &__totop {
        grid-area: t;

        &:before {
            content: ".Main__totop";
        }
    }
}

.Content {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: $h0;
    padding: $h0;
    grid-template-areas:
        ". . . h h h h h h . . ."
        ". ca ca ca ca ca ca ca ca ca ca ."
        ". ca ca ca ca ca ca ca ca ca ca ."
        ". . . n n n n n n . . ."
        ". f f f f f f f f f f ."
    ;
    border: 1px solid blue;

    &:before {
        content: ".Content";
        color: blue;
        font-weight: bold;
    }

    div {
        border: 1px solid $blue;

        &:before {
            color: blue;
        }
    }

    &__header {
        grid-area: h;

        &:before {
            content: ".Content__header"
        }
    }

    &__area {
        grid-area: ca;
        border: 1px solid $silver;
        padding: $h2;
        display: grid;
        gap: $h-2;

        &:before {
            content: ".Content__area"
        }
    }

    &__nav {
        grid-area: n;

        &:before {
            content: ".Content__nav"
        }
    }

    &__footer {
        grid-area: f;

        &:before {
            content: ".Content__footer";
        }
    }
}

.Area {
    border: 1px dotted red;
    position: relative;
    min-height: $h2;

    &:before {
        content: ".Area";
        color: red;
        position: absolute;
        top: $h-1;
        left: $h-1;
        font-weight: bold;
        font-size: $h0;
    }
}